* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-byv-fra.byv-fra.dix -text
/apertium-byv-fra.byv-fra.lrx -text
/apertium-byv-fra.byv-fra.t1x -text
/apertium-byv-fra.byv-fra.t2x -text
/apertium-byv-fra.byv-fra.t3x -text
/apertium-byv-fra.fra-byv.lrx -text
/apertium-byv-fra.fra-byv.t1x -text
/apertium-byv-fra.fra-byv.t2x -text
/apertium-byv-fra.fra-byv.t3x -text
/autogen.sh -text
/configure.ac -text
dev/byv-fra.1.dix -text
/modes.xml -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
